TURSO_DB_URL={{ custom_metrics_turso_db_url }}
TURSO_AUTH_TOKEN={{ custom_metrics_turso_auth_token }}
PROMETHEUS_URL={{ custom_metrics_prometheus_url }}
COLLECTION_INTERVAL={{ custom_metrics_collection_interval }}
# GOOGLE_APPLICATION_CREDENTIALS=/config/credentials.json
SYNC_INTERVAL={{ custom_metrics_sync_interval }}