BIGQUERY_PROJECT={{ custom_metrics_bigquery_project }}
PROMETHEUS_URL={{ custom_metrics_prometheus_url }}
LOCATION={{ custom_metrics_location }}
COLLECTION_INTERVAL={{ custom_metrics_collection_interval }}
# GOOGLE_APPLICATION_CREDENTIALS=/config/credentials.json